
<!DOCTYPE html>
<html>
	<head>
		<title>Mobile Version</title>
		<meta charset="utf-8" name="viewport"
		content= "width=device-width, initial-scale=1.0">
		<style>
			.test {
				font-size:50px;
				font-weight:bold;
				color:green;
				text-align:center;
			}
            .test1 {
				font-size:10px;
				font-weight:bold;
				color:rgb(12, 19, 12);
				text-align:center;
			}
		</style>
	</head>
	<body>
		<div class = "test">WELCOME</div>
        <div class="test1">Mobile version</div>
</body>
</html>					
